PORT=3000
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=change-me
DB_NAME=terminal_claw
APP_PASSWORD=change-me
JWT_SECRET=change-me
AI_API_KEY=change-me
OPENCLAW_CRON_BRIDGE_URL=http://INTERNAL_IP:3011
OPENCLAW_CRON_BRIDGE_TOKEN=change-me
